@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bruno+Ace+SC&family=PT+Sans+Narrow&display=swap');
@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #f0f7ff;
  --foreground: #2c2c2c;
  --card: #ffffff;
  --card-foreground: #2c2c2c;
  --popover: #45b1ff;
  --popover-foreground: #2c2c2c;
  --primary: #023c7e;
  --primary-foreground: #e0e0e0;
  --secondary: #205a9c;
  --secondary-foreground: #e0e0e0;
  --muted: #e0e0e0;
  --muted-foreground: #205a9c;
  --accent: #0095ff;
  --bright-accent: #297ebb;
  --accent-foreground: #2c2c2c;
  --destructive: #ff5252;
  --destructive-foreground: #ffffff;
  --border: #205a9c;
  --input: #82cfff;
  --ring: #023c7e;
  --navbar: #ffffff;

  --chart-1: #45b1ff;
  --chart-2: #205a9c;
  --chart-3: #023c7e;
  --chart-4: #82cfff;
  --chart-5: #ff5252;

  --radius: 0.625rem;

  --sidebar: #82cfff;
  --sidebar-foreground: #2c2c2c;
  --sidebar-primary: #023c7e;
  --sidebar-primary-foreground: #e0e0e0;
  --sidebar-accent: #205a9c;
  --sidebar-accent-foreground: #e0e0e0;
  --sidebar-border: #82cfff;
  --sidebar-ring: #023c7e;

  --heatmap-base: #023c7e62;
  --heatmap-1: #205a9c;
  --heatmap-2: #45b1ff;
  --heatmap-3: #82cfff;
  --heatmap-4: #e0e0e0;

  --question-easy: #82cfff;
  --question-medium: #2a97e5;
  --question-hard: #0479ff;
  --question-cp: #205a9c;

  --leetcode-primary: #45b1ff;
  --linkedIn: #023c7e;
}

.dark {
  --background: #2c2c2c;
  --foreground: #e0e0e0;
  --card: #3a3a3a; /* Lighter than before */
  --card-foreground: #e0e0e0;
  --popover: #3a3a3a;
  --popover-foreground: #e0e0e0;
  --primary: #82cfff;
  --primary-foreground: #2c2c2c;
  --secondary: #205a9c;
  --secondary-foreground: #e0e0e0;
  --muted: #2c2c2c;
  --muted-foreground: #45b1ff;
  --accent: #0095ff;
  --bright-accent: #86cdff;
  --accent-foreground: #2c2c2c;
  --destructive: #ff1744;
  --destructive-foreground: #ffffff;
  --border: #82cfff;
  --input: #205a9c;
  --ring: #82cfff;
  --navbar: #3a3a3a;

  --chart-1: #45b1ff;
  --chart-2: #205a9c;
  --chart-3: #023c7e;
  --chart-4: #82cfff;
  --chart-5: #ff5252;

  --sidebar: #023c7e;
  --sidebar-foreground: #e0e0e0;
  --sidebar-primary: #82cfff;
  --sidebar-primary-foreground: #2c2c2c;
  --sidebar-accent: #205a9c;
  --sidebar-accent-foreground: #e0e0e0;
  --sidebar-border: #205a9c;
  --sidebar-ring: #82cfff;
}

@theme inline {
  --font-long: "Bebas Neue", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-bright-accent: var(--bright-accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-navbar: var(--navbar);

  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards)
    linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

@layer base {
  * {
    @apply border-border  outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
